.coding-title-cont {
    max-width: 40%;
    text-align: center;
    margin-top: 5%;
    margin-left:40%; 
    margin-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-top: 5px solid white;

    
  }

  .javascript-example {
    margin-top: 50px;
    display: flex;
    img {
        width: 650px;
        height: 510.25px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        transition: filter 1s ease;
    }
    #j-example-1 {
        position: relative;
    }
    #j-example-1:hover {
        img {
            filter: brightness(50%);
        }
    }
    #javascript-text {
        position: absolute;
        width: 650px;
        height: 510.25px;
        top: 50px;
        left: 30px;
        display: none;
        animation: fadeIn 1s;
        p {
            line-height: 25px;
        }
    }
  }

  .python-example {
    margin-top: 25px;
    display: flex;
        img {
            width: 650px;
            height: 810.25px;
            border-top: 2px solid white;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            transition: filter 1s ease;
    }
    #p-example-1 {
        position: relative;
    }
    #p-example-1:hover {
        img {
            filter: brightness(50%);
        }
    }
    #python-text {
        position: absolute;
        width: 650px;
        height: 810.25px;
        top: 50px;
        left: 30px;
        display: none;
        animation: fadeIn 1s;
        p {
            line-height: 25px;
        }
    }
  }

  .sql-example {
    margin-top: 25px;
    display: flex;
        img {
            width: 650px;
            height: auto;
            border-top: 2px solid white;
            border-left: 2px solid white;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            transition: filter 1s ease;
    }
    #sql-example-1 {
        position: relative;
    }
    #sql-example-1:hover {
        img {
            filter: brightness(25%);
        }
    }
    #sql-text {
        position: absolute;
        width: 650px;
        height: 810.25px;
        top: 50px;
        left: 30px;
        display: none;
        animation: fadeIn 1s;
        p {
            line-height: 25px;
        }
    }
  }




  .python-example:hover {
    .coding-title-cont{
        img {
            max-height: 650px;
        }
    }
    #python-text {
        padding-left: 55px;
        padding-right: 55px;
        width: auto;
        display: block;
        h2 {
            text-decoration: underline;
        }
    }
  }

  .javascript-example:hover {
    .coding-title-cont{
        img {
            max-height: 650px;
        }
    }
    #javascript-text {
        padding-left: 55px;
        padding-right: 55px;
        width: auto;
        display: block;
        h2 {
            text-decoration: underline;
        }
    }
  }

  .sql-example:hover {
    .coding-title-cont{
        img {
            max-height: 650px;
        }
    }
    #sql-text {
        padding-left: 55px;
        padding-right: 55px;
        width: auto;
        display: block;
        h2 {
            text-decoration: underline;
        }
    }
  }