.portfolio-title-cont {
  text-align: center;
  margin-top: 5%;
  margin-left:40%; 
  margin-right: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
}

.portfolio-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-left:15%; 
  padding:30px 15px; 
  color: white;

  

  #projectid1, #projectid2, #projectid3, #projectid4 {
    position: relative;
    height: 200px;
    width: 200px;
    border: 5px outset white;
    border-radius: 50%;
    transition: all 0.5s ease;
    background-color: #13386c;

    img {
      filter: brightness(20%);
      height: 200px;
      width: 200px;
      border-radius: 50%;
      overflow: hidden;
      transition: filter 0.5s ease;
    }
  }

  #projectid1:hover, #projectid2:hover, #projectid3:hover, #projectid4:hover {
    transform: translateY(-10px);
    img {
      filter: brightness(100%);
    }
    .project-text {
      display: none;
    }
  }

  #project-text-1 {
    position: absolute;
    left: 0px;
    top: 35px;
    text-align: center;
  }

  #project-text-2{
    position: absolute;
    left: 50px;
    top: 35px;
    text-align: center;
    #code-lang {
      margin-top: 30px;
    }
  } 
  
  #project-text-3, #project-text-4 {
    position: absolute;
    left: 50px;
    top: 50px;
    text-align: center;
  }

  #code-lang1, #code-lang2 {
    font-size: 12px;
  }
}