
@media only screen and (max-width: 1150px) {

}

@media only screen and (max-width: 992px) {

    .about-me-title-cont {
        margin-top: 2%;
        padding-left: 20%;
        padding-right: 20%;
        p {
            font-size: 14px !important;
        }
        #about-me-id {
            padding-top: 25px;
        }
    }

    .portfolio-title-cont {
        margin-left:25%; 
        margin-right: 15%;
        #portfolio-title-id{
            padding-top: 25px;
        }
    }
    .portfolio-cont {
        #project-text-1 {
            position: absolute;
            left: 18px;
            top: 35px;
            text-align: center;
        }
        #project-text-3, #project-text-4 {
            position: absolute;
            left: 60px;
            top: 50px;
            text-align: center;
        }
    }

    

    .coding-title-cont {
        max-width: 60%;
        margin-left: 25%; 
        margin-right: 10%;
        #coding-examples-title-id {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .python-example {
            img {
                width: 433px;
                height: 540px;
            }
        }
        .javascript-example {
            img {
                width: 433px;
                height: 340px;
            }
        }
        .sql-example {
            img {
                width: 433px;
                height: auto;
            }
        }
        #python-text, #sql-text, #javascript-text {
            top: 50px;
            left: 15px;
        }
    }

    .scion-title-cont {
        margin-left:25%; 
        margin-right: 15%;
        padding-left: 15%;
        padding-right: 15%;
        p {
            font-size: 14px !important;
        }
        h5 {
            font-size: 24px !important;
        }
    
        h4 {
            font-size: 20px !important;
        }
    
        h2 {
            font-size: 16px !important;
        }
        #scion-1{
            padding-top: 25px;
        }
    }

    .contact-title-cont {
        margin-left:25%; 
        margin-right: 15%;
    }

    .back-to-top-cont {
        margin-left:25%; 
        margin-right: 15%;
    }

    p {
        font-size: 12px !important;
    }

    h5 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 18px !important;
    }

    h2 {
        font-size: 14px !important;
    }

    .info-text-cont {
        h6 {
            font-size: 40px;
        }
        h4 {
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 768px) {
    #navbarid {
        display: block !important;
    }
    #main {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 768px) {

    .navbar {
        a {
            font-size: 12px;
        }
    }

    #navbarid {
        display: none;
    }

    .menu-but {
        display: block;
    }

    .img-container {
        img {
            width: 100%;
        }
    }

    .info-text-cont {
        left: 25%;
        right: 25%;
    }

    .about-me-cont {
        margin-left:15%; 
        margin-right: 15%;
    }

    .about-me-title-cont {
        margin-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .portfolio-title-cont {
        margin-left:15%; 
        margin-right: 15%;
    }
    .portfolio-cont {
        margin-left:15%; 
        margin-right: 15%;
    }

    .coding-title-cont {
        max-width: 70%;
        margin-left:15%; 
        margin-right: 15%;
        .python-example {
            img {
                width: 433px;
                height: 600px;
            }
        }
        .javascript-example {
            img {
                width: 433px;
                height: 400px;
            }
        }
        .sql-example {
            img {
                width: 433px;
                height: auto;
            }
        }
    }

    .scion-title-cont {
        margin-left:10%; 
        margin-right: 10%;
    }

    .contact-title-cont {
        margin-left:15%; 
        margin-right: 15%;
    }

    .contact-cont {
        input {
            width: 340px;
        }
        #yourmessage {
            width: 334px;
        }
    }

    .back-to-top-cont {
        margin-left:15%; 
        margin-right: 15%;
    }

    .info-text-cont {
        h6 {
            font-size: 40px;
        }
        h4 {
            font-size: 24px;
        }
    }
}

@media only screen and (max-width: 576px) {
 
    .about-me-title-cont {
        margin-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .info-text-cont {
        h6 {
            font-size: 32px;
        }
        h4 {
            font-size: 18px;
        }
    }

    .coding-title-cont {
        p {
            line-height: 16px !important;
            font-size: 10px !important;
        }
        .python-example {
            img {
                width: 325px;
                height: 405px;
            }
        }
        .javascript-example {
            img {
                width: 325px;
                height: 255px;
            }
        }
        .sql-example {
            img {
                width: 325px;
                height: auto;
            }
        }
        #python-text, #sql-text, #javascript-text {
            top: 40px;
            left: 15px;
        }
    }

    .contact-cont {
        input {
            width: 240px;
        }
        #yourmessage {
            width: 234px;
        }
    }

}


@media only screen and (max-width: 280px) {
    .coding-title-cont {
        .python-example {
            img {
                width: 217px;
                height: 270px;
            }
        }
        .javascript-example {
            img {
                width: 217px;
                height: 170px;
            }
        }
        .sql-example {
            img {
                width: 217px;
                height: auto;
            }
        }
    }
    .python-example:hover {
        #python-text {
            top: 25px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .javascript-example:hover {
        #javascript-text {
            top: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .sql-example:hover {
        #sql-text {
            top: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}