.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #13386c;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffffff' fill-opacity='0.05'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 5px solid white;
    transition: 0.5s;
    z-index: 3;


    a {
        font-size: 16px;
    }

    h6 {
        border-bottom: 3px solid white;
        font-size: 50px;
    }

    #k:hover {
        text-decoration: none;
    }

    #nav-about {
        margin-top: 50px;
    }

    li.nav-option {
        padding-top: 10px;
    }

    li.nav-option:not(:last-child) { 
        padding-bottom: 7px;  
        margin-bottom: 7px;
        border-bottom: 2px solid white;
        border-bottom-right-radius: 50%;
     }  
}

.menu-but {
    position: fixed;
    top: 40vh;
    left: 0;
    width: 50px;
    height: 80px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 0% 50% 50% 0%;
    background-color: #13386c;
    color: white;
    cursor: pointer;
    z-index: 3;
    display: none;
}

.menu-but:hover {
    background-color: #0c2343;
}
