.scion-title-cont {
    text-align: center;
    margin-top: 5%;
    margin-left:40%; 
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    border-top: 5px solid white;
    h5, h4, p, h2 {
      visibility: hidden;
    }
  }